* {
    background-color: white;
}

.container {
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
}

.boxes {
    border: 5px;
    background-color: blue;
    height: 300px;
    width: 200px;
}
.card {
    width: 20px;
    background-color: aqua;
    margin: auto;
    border: 5px;
}